/node_modules
/vendor
.env
.env.local
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
/public/storage
/public/hot
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
.php_cs.cache
/coverage
